* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Montserrat", Helvetica;
  line-height: 1;
}
body nav ul li {
  list-style: none;
}
body a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
body hr {
  height: 2px;
  display: block;
}
body input, body textarea {
  width: 100%;
  font-size: 0.75rem;
  color: #222;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: #e2e2e2;
  border-radius: 0;
  box-sizing: content-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
body input::-moz-placeholder, body textarea::-moz-placeholder {
  color: #999;
}
body input::placeholder, body textarea::placeholder {
  color: #999;
}
body ul li {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1132px;
  margin: 0 auto;
}

.container::after,
.cfixed::after {
  content: "";
  clear: both;
  display: block;
}

.blind {
  width: 0;
  height: 0;
  position: absolute;
  line-height: 0;
  text-indent: -9999px;
  overflow: hidden;
}

.sec-tit {
  font-size: 2.625rem; /*42px*/
  color: #3f51b5;
  font-weight: 400;
}

.divider {
  width: 90%;
  max-width: 1132px;
  margin: 0 auto;
  margin-top: 77px;
  background-color: #eee;
}

.m-divider {
  width: 20px;
  margin: 0 auto;
  margin-top: 77px;
  background-color: #3f51b5;
}

.header {
  padding: 18px 5%;
  position: relative;
}
.header .logo {
  float: left;
}
.header .logo a {
  font-size: 1.625rem; /*26px*/
  color: #3f51b5;
}
.header .gnb {
  width: 100%;
  max-height: 0;
  background-color: #3f51b5;
  position: absolute;
  top: 100%;
  left: 0;
  overflow: hidden;
  transition: 0.25s ease;
}
.header .gnb li {
  border-bottom: 1px solid #303f9f;
}
.header .gnb li a {
  padding: 14px 0 14px 5%;
  font-size: 0.875rem; /*14px*/
  color: #fff;
  display: block;
}
.header .menu-toggle-btn {
  float: right;
  width: 20px;
  margin-top: 4px;
  cursor: pointer;
}
.header .menu-toggle-btn span {
  width: 100%;
  height: 2px;
  background-color: #3f51b5;
  display: block;
}
.header .menu-toggle-btn span:nth-child(2) {
  margin: 5px 0;
}

.slider img {
  width: 100%;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.display-section {
  margin-top: 59px;
  text-align: center;
}
.display-section .sec-tit {
  margin-bottom: 30px;
}
.display-section .desc {
  line-height: 1.8;
  font-family: "PT Serif";
  color: #666;
}

.promotion-section {
  margin-top: 68px;
}
.promotion-section .promo-list li {
  margin-top: 52px;
  text-align: center;
}
.promotion-section .promo-list li img {
  height: 52px;
}
.promotion-section .promo-list li h3 {
  margin: 29px 0 20px 0;
  color: #3f51b5;
  font-weight: 400;
}
.promotion-section .promo-list li p {
  line-height: 1.5;
  font-size: 0.8rem;
  color: #666;
}

.work-section {
  margin-top: 73px;
}
.work-section .sec-tit {
  width: 90%;
  max-width: 1132px;
  margin: 0 auto 47px;
  text-align: center;
}
.work-section .work-list li {
  width: 100%;
}
.work-section .work-list li a {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}
.work-section .work-list li a:hover .info {
  transform: translateY(23px);
  opacity: 1;
}
.work-section .work-list li a::before {
  content: "";
  background: #3f51b5;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  transition: 0.25s ease;
  display: block;
}
.work-section .work-list li a:hover::before {
  opacity: 0.65;
}
.work-section .work-list li a .info {
  color: #fff;
  position: absolute;
  top: 0;
  left: 23px;
  z-index: 11;
  opacity: 0;
  transition: 0.25s ease;
}
.work-section .work-list li a .info h3 {
  margin-bottom: 8px;
  font-size: 1.4375rem; /*23px*/
  font-weight: 400;
}
.work-section .work-list li a .info span {
  font-size: 0.6875rem; /*11px*/
}
.work-section .work-list li a img {
  width: 100%;
  display: block;
}/*# sourceMappingURL=default.css.map */